.slider .rc-slider-track {
  /* background-color: #0073ff; */
  background-color: #88beff;
}
.slider .rc-slider-handle {
  /* border-color: #0073ff; */
  border-color: #88beff;
}

.agora-slider-tooltip .rc-slider-tooltip-inner {
  position: relative;
  min-width: 50px;
  z-index: 99999;
}
